<!-- [+] rating -->
<div block="rating" mod="{{mod}}, rate-{{rate}}" data-rate="{{rate}}">
	<div elem="stars">
		<span class="svg-icon svg-icon--star">
		    <svg class="svg-icon__link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378.79 360.82"><path d="M378.79,136.68l-130.3-19.3L188.72,0,130.1,118,0,138.53l94.07,92.2L73.43,360.82l116.76-61,117.34,59.83L285.63,229.79Zm0,0"/></svg>
	    </span>
	    <span class="svg-icon svg-icon--star">
		    <svg class="svg-icon__link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378.79 360.82"><path d="M378.79,136.68l-130.3-19.3L188.72,0,130.1,118,0,138.53l94.07,92.2L73.43,360.82l116.76-61,117.34,59.83L285.63,229.79Zm0,0"/></svg>
	    </span>
	    <span class="svg-icon svg-icon--star">
		    <svg class="svg-icon__link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378.79 360.82"><path d="M378.79,136.68l-130.3-19.3L188.72,0,130.1,118,0,138.53l94.07,92.2L73.43,360.82l116.76-61,117.34,59.83L285.63,229.79Zm0,0"/></svg>
	    </span>
	    <span class="svg-icon svg-icon--star">
		    <svg class="svg-icon__link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378.79 360.82"><path d="M378.79,136.68l-130.3-19.3L188.72,0,130.1,118,0,138.53l94.07,92.2L73.43,360.82l116.76-61,117.34,59.83L285.63,229.79Zm0,0"/></svg>
	    </span>
	    <span class="svg-icon svg-icon--star">
		    <svg class="svg-icon__link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378.79 360.82"><path d="M378.79,136.68l-130.3-19.3L188.72,0,130.1,118,0,138.53l94.07,92.2L73.43,360.82l116.76-61,117.34,59.83L285.63,229.79Zm0,0"/></svg>
	    </span>
    </div>
</div>
<!-- [-] rating -->
